<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    background-color: black;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 40px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
  height: 20%;
}

.container {
    background-color: #888;
  padding: 16px;
  /* background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/240_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg"); */
}

span.psw {
  /* float: right; */
  padding-top: 16px;
  margin-right:300px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; 
  border-radius: 20px;
  background-image: url("https://thumbs.dreamstime.com/b/light-blue-background-blurred-sky-design-cloudy-white-paint-blurry-border-fresh-spring-colors-49610558.jpg");
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}



.main
{
  height: 400px;
  width: 400px;
  background-color: #000;
  margin: auto;
  justify-content: center;
color: white;
margin-top: 50px;

}
 body
{
    background-color: black;
  /* background-image: url("https://cdn.dribbble.com/users/3968077/screenshots/9917975/media/31e912220e4d56b9459fa2be51831459.png?resize=400x300&vertical=center"); */
  
/* background-image: url("https://cdn.dribbble.com/userupload/4153173/file/original-b8df3f7ccce72a3987d18b1f047cb357.mp4"); */
 
  /* background-image: url("https://media.istockphoto.com/id/1071047018/vector/login-form-user-interface-vector.jpg?s=612x612&w=0&k=20&c=111C1SLafMRbYr-K_FdU31uk_ybUc8QleVxGaRP2I8Y="); */
}
.main button
{
  margin: auto;
  margin-left: 150px;
  margin-top: 150px;
  border: 2px solid white;
  width: 20%;
}

input
{
  border-radius: 90px;
}
button
{
  border-radius: 90px;
}
input:hover
{
  
  border: 2px solid black;
  
}
#btn{
    background-color: rgb(173, 173, 244);
    color: #E43D12;
    font-size: 100px;
    text-shadow: white;
    border: none;
}
#btn:hover{
    background-color: blue;
    color: red;
    border: 1px solid white;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
h2
{
    color: #000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    padding: 5px 20px;
    color: #000;
    color: wheat;
}

.logo a {
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6347; /* Change color on hover */
}
</style>
</head>
<body>
    <nav class="navbar"></nav>
       <ul class="nav-links">
        
            <li><a href="#">Home</a></li>
            <li><a href="/login">Administration</a></li>
            <li><a href="/fedback">Fedback</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
   
</nav>
    <div class="main" style="display: flex;">

        <div>
            <button id="btn" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">ADR</button>
        </div>
        <div>
            <a href="/job"><button id="btn" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">JOB</button></a>
        </div>      
        
        </div>
        
<div id="id01" class="modal">

  
  <form class="modal-content animate">
    <div class="container">
      <center><h4>ADR</h4></center>
      <p>An appreciably harmful or unpleasant reaction resulting from an intervention related to the use of a medicinal product;</p>
      <button><a href="/adr">More</a></button>
      <br>
      <br>
    </div>
  


<script>
// Get the modal
var modal1 = document.getElementById('id01');
var modal2 = document.getElementById('id02');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal1) {
        modal1.style.display = "none";
    }
}
</script>

</body>
</html>